@charset "utf-8";
/********** BIGIN :: common **********/
/* BIGIN :: Title */
#hd_wr.mobile-header { display: flex; align-content: center; justify-content: space-between; background-color: rgba(239,231,218,1); position: relative; }

#hd_wr.mobile-header > * { display: flex; align-items: center; /* position: relative; */ }

#hd #logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    align-content: center;
}
#hd_wr.mobile-header .mobile-search { padding: 0 15px; }
#btn_hdcate { position: static; background-color: transparent; border: 0; }
#btn_hdcate { position: static; }

#hd_sch2 .sch_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 35px;
    border: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background: none;
    font-size: 15px;
    color: #333;
}
#hd_sch2 h2 {
    position: absolute;
    font-size: 0;
    text-indent: -9999em;
    line-height: 0;
    overflow: hidden;
}
#hd_sch2 #sch_str2 {
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 40px;
    color: #000;
}
#hd_wr.mobile-header .hidden-search {
	position: absolute;
	top: 100%;
	right: 15px;
}
/* BIGIM :: Index */
.sct_wrap h2 a {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 0;
    text-decoration: none;
}
/* END :: Index */
/* BIGIN :: Item list */
.sct_10 .sct_txt {
    font-weight: bold;
    font-size: 0.85em;
    line-height: 1.3em;
}
.sct_10 .sct_cost {
    margin: 5px 10px;
    font-size: 0.85em;
}
/* END :: Item list */
/* BIGIN :: Footer */
#ft {
    font-size: 0.75em;
}
#ft_logo {
    padding: 20px 0;
}
#ft #ft_logo img { max-width: 155px; }
/* END :: Footer */